*{
    margin: 0;
    padding: 0;
}
body{
    position: relative;
}
.menu{
    width: 30%;
    height: 100%;
    position: absolute;
    background-color: black;
    position: fixed;
    display: flex;
    justify-content: center;
}
.nav{
    display: none;
}
.btn-menu{
    text-decoration: none;
    color: white;
    border-radius: 50px;
    font-size: 30px;
    padding: 10px 25px;
}
.btn-menu:hover{
    background: white;
    color: black;
}
ul li {
    margin: 30px;
}
.grid-index{
    display: grid;
    grid-template-columns: 80% auto;
    grid-template-rows: 100px auto auto;
    grid-template-areas: 'cabecera cabecera'
                         'cuerpo cuerpo'
                         'pie-pagina pie-pagina';
}
.header{ 
    grid-area: cabecera;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}
.main{
    grid-area: cuerpo;
}
.footer{
    grid-area: pie-pagina;
    color: white;
    background-color: black;
}
.hamburger{
    display: block;
    cursor: pointer;
}
.hamburger .line{
    width: 30px;
    height: 3px;
    background: #fefefe;
    margin: 6px 0;
}
.logo{
    color: #fefefe;
}
.img-portada{
    width: 100%;
}
.MIFOTO{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.MIFOTO img{
    width: 400px;
    border-radius: 50%;
    margin-bottom: 2em;
}
.areas-practicas{
    display: flex;
    flex-direction: row;
}
.areas-practicas div{
    width: 70%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
}
.areas-practicas div p{
    text-align: center;
}
.areas-practicas img{
    width: 60%;
    border: 1px solid black;
}
.articulo-proyectos{
    width: 90%;
    margin: auto;
    margin-bottom: 5em;
}
.proyectos{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.articulo-proyectos h1{
    text-align: center;
}
.articulo-proyectos p{
    text-align: justify;
}
.proyectos img{
    width: 300px;
    height: 500px;
    margin: 20px;
}
.info-contacto{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid white;
}
.copyright{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.f{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
svg{
    margin-bottom: 3em;
}
.info-p{
    background-color: black;
    color: white;
    padding: 5em;
    margin-bottom: 2em;
}
.form-cotizar{
    height: 500px;
    padding: 5em;

}
.formulario{
    display: flex;
    flex-direction: column;
}
.input{
    width: 70%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 5px;
}
label{
    margin-bottom: 15px;
}
.radio{
    margin-bottom: 15px;
}
.parrafo-desarrollo{
    background-color: orange;
    height: 500px;
    padding: 3em;
}
.portada-desarrollo{
    background-color: red;
    height: 300px;
}
.parrafo-desarrollo h1{
    margin-bottom: 1em;
}
.acerca-de-mi{
    display: flex;
    flex-direction: row;
}
.acerca-de-mi div{
    width: 50%;
    padding: 3em;
}
.Mi-Imagen{
    width: 500px;
}
.info-ceo article{
    margin-bottom: 60px;
}
.imagen-del-proyecto{
    width: 400px;
}
.info-proyecto{
    display: flex;
    flex-direction: row;
}
.info-proyecto div{
    width: 50%;
    padding: 5em;
}
.i-proyectos{
    width: 200px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}